* {
    outline: red dashed 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 93, 100);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[name="r"] {
    visibility: hidden;
}

.container {
    padding: 2rem;


}

.slider {
    width: 50rem;
    height: 36rem;
    overflow: hidden;

}

.slider-items {
    width: 400%;
    height: 86%;
    display: flex;
    transition: all .5s;
}

.item {
    width: 25%;
    transition: all .5s ease;
}

.item img {
    width: 50rem;
    height: 30rem;
}

.slider-content {
    width: 400%;
    height: 5%;
    display: flex;
    transition: all .5s;

}

.slider-text {
    width: 100%;
    transition: all .5s ease;
    font-size: normal;
    font-family: 'arial';
    color: #fff;
    font-weight: bold;
}

.slider-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.slider-nav-item {
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid #fff;
    border-radius: 100%;
    margin: 0.8rem;
    cursor: pointer;
    transition: all .5s ease;
}

.bullet {
    margin: -0.5rem;
    height: 2rem;
    width: 2rem;
}

.slider-nav-item:hover {
    background-color: #fff;
    transform: scale(1.1);
}


#r1:checked~.s1,
#r1:checked~.t1 {
    margin-left: 0;
}

#r2:checked~.s1,
#r2:checked~.t1 {
    margin-left: -25%;
}

#r3:checked~.s1,
#r3:checked~.t1 {
    margin-left: -50%;
}

#r4:checked~.s1,
#r4:checked~.t1 {
    margin-left: -75%;
}

#r1:checked~.bullet1 {
    background-color: rgba(221, 217, 210, 0.671);
}

#r2:checked~.bullet2 {
    background-color: rgba(221, 217, 210, 0.671);
}

#r3:checked~.bullet3 {
    background-color: rgba(221, 217, 210, 0.671);
}

#r4:checked~.bullet4 {
    background-color: rgba(221, 217, 210, 0.671);
}





/* 
делать тайм стемп через баш
git commit -m "init: start cssMemSlider-task `LANG=en_EN date +'(%a, %b %d, %Y %r)'`"
 */









/* *,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

body {}


.wrapper {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 93, 100);

    top: 0;
    left: 0;
    display: flex;
    overflow: auto;
}

.slider-container {
    max-width: 1000px;
    max-height: 500px;
    margin: auto;
    background-color: red;

}

.slider-track {
    max-width: 1000px;
    height: 500px;
    display: flex;
    background-color: yellow;
    transition: .2s;
}

.slider-item {
    min-width: 1000px;
    
    height: 400px;

} */